<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login With your mobile:</title>
</head>
<body>
    <form action="/doLogin" method="post">
        <div>
            Enter Mobile No: 
            <input type="number" name="mob" id="mob">
        </div>
        <div>
            Enter Password: 
            <input type="password" name="passwd" id="passwd">
        </div>
        <div>
            {% csrf_token %}
            <button>Log In</button>
        </div>
    </form>
</body>
</html>